<h1>Make your form here</h1>

<form>

  <label for="pirate[name]">name</label><input name="pirate[name]" type="text">
  <label for="pirate[wieght]">wight</label><input name="pirate[weight]" type="text">
  <label for="pirate[height]">name</label><input name="pirate[name]" type="text">
  <button type="submit">submit</button>
</form>
