<h1>Make your form here</h1>

<form action="/pirates" method="post">

  <p><label for="pirate[name]">Pirate Name</label><input name="pirate[name]" type="text"></p>
  <p><label for="pirate[wieght]">Pirate Weight</label><input name="pirate[weight]" type="text"></p>
  <p><label for="pirate[height]">Pirate Height</label><input name="pirate[height]" type="text"></p>

  <p><label for="pirate[ships][][name]">Ship Name</label><input name="pirate[ships][][name]" type="text" id="ship_name_1"></p>
  <p><label for="pirate[ships][][type]">Ship Weight</label><input name="pirate[ships][][type]" type="text"></p>
  <p><label for="pirate[ships][][booty]">Ship Height</label><input name="pirate[ships][][booty]" type="text"></p>

  <p><label for="pirate[ships][][name]">Ship Name</label><input name="pirate[ships][][name]" type="text"></p>
  <p><label for="pirate[ships][][type]">Ship Weight</label><input name="pirate[ships][][type]" type="text"></p>
  <p><label for="pirate[ships][][booty]">Ship Height</label><input name="pirate[ships][][booty]" type="text"></p>

  <button type="submit">submit</button>
</form>
