<h1>Pirate Information</h1>
<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Weight: <%= @pirate.weight %></p>
<p>Pirate Height: <%= @pirate.height %></p>

<h2>Ship Information</h2>


<h2>Display your second ship here</h2>
